/*generali*/
*{
    font-family: 'Montserrat-Medium';
}
body{
    background-color: #252525;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-scrollbar:none;
    user-select: none;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color:#353535;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6056ef;
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(96, 86, 239, 0.66);
}
a{
    color: #4dff6a;
}
p{
    text-align: justify;
    color: rgb(243, 243, 243);
    font-family: 'Montserrat-Light';
    margin-left: 20px;
    margin-right: 20px;
}
/*menu contestuale*/
.menu{
    display: none;
    font-family: 'Montserrat-Medium';
    border: solid 1px #C7C7C7;
    border-radius: 7px;
    position: fixed;
    width: 220px;
    background-color: white;
    z-index: 2147483630;
    box-shadow: 0px 0px 4px 1px rgba(199,199,199,0.5);
}
.listmenu{
    margin: 0;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    cursor: context-menu;
}
.menuoption{
    padding: 5px 0px 5px 25px;
}
.menuoptionfirst{
    padding: 5px 0px 5px 25px;
    margin-top: 5px;
}
.menuoptionlast{
    padding: 5px 0px 5px 25px;
    margin-bottom: 5px;
}
.menuoption:hover{
    background-color: #8dbbff;
}
.menuoptionfirst:hover{
    background-color: #8dbbff;
}
.menuoptionlast:hover{
    background-color: #8dbbff;
}


/*navnmenu*/
#navmenuopenbtn{
    position:fixed;
    top: 30px;
    left: 40px;
    height: 38px;
    z-index: 10;
}
#navmenuclosebtn{
    height: 38px;
    position: relative;
    left: 8px;
    top:0px;
}
.navmenu{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: none;
    z-index: 10;
    height: 70px;
    width: 100%;
    top: 0;
    left: -120%;
    font-family: 'Montserrat-Light';
    border-bottom-right-radius:50px;
    background:#252525;
    transition: 0.5s;
}
.navmenuoption{
    height:30px;
}
.navmenu a{
    text-decoration: none;
    font-size: 23px;
    color: rgb(255, 255, 255);
}

/*font*/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
 }
 @font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
}


/*ids and classes*/

.maintitle{
    color:#fbf95d;
    text-align: center;
}
.titleparag{
    color: rgb(93, 136, 255);
    text-align: center;
}
.secondtitle{
    text-align: center;
    color: rgb(93, 136, 255);
}