
/*generali*/

html{
    cursor: url('images/customcursor.cur'),auto;
}
body{
    background-color: white;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    -webkit-scrollbar:none;
}

/*menu contestuale*/

.menu{
    display: none;
    font-family: 'Montserrat-Medium';
    border: solid 1px #C7C7C7;
    border-radius: 7px;
    position: fixed;
    width: 180px;
    background-color: white;
    z-index: 2147483630;
    box-shadow: 0px 0px 4px 1px rgba(199,199,199,0.5);
}
.listmenu{
    margin: 0;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
.menuoption{
    padding: 5px 0px 5px 25px;
}
.menuoptionfirst{
    padding: 5px 0px 5px 25px;
    margin-top: 5px;
}
.menuoptionlast{
    padding: 5px 0px 5px 25px;
    margin-bottom: 5px;
}
.menuoption:hover{
    background-color: #8dbbff;
}
.menuoptionfirst:hover{
    background-color: #8dbbff;
}
.menuoptionlast:hover{
    background-color: #8dbbff;
}

/*slide 1*/

.flexslide{
    display: flex;
    align-items:center;
    justify-content: center;
}
.slide1{
    position: fixed;
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #262626;
    opacity:0;
    z-index: 2147483646;
    transition: 150ms;
}
.slide1.active{
    position: fixed;
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #262626;
    z-index:2147483646;
    opacity:1;
}
.slide1-btn{
    position: absolute;
    bottom: 120px;
    background-color:#5ad67b;
    border-radius:30px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:18px;
    padding:15px 27px;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Montserrat-Light';
}
.slide1img{
    width: 375px;
    margin: 90px 0px 70px 0px;
}
.slidescritta{
    font-family: 'Montserrat-Light';
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-left:40px;
    margin-right:40px;
}
.slideimg{
    width: 375px;
    margin: 70px 0px 50px 0px;
}

/*slide 2*/

.slide2{
    position: fixed;
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #262626;
    opacity:0;
    z-index: 2147483645;
    transition: 150ms;
}
.slide2.active{
    position: fixed;
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #262626;
    z-index: 2147483645;
    opacity:1;
}
.slide2-btn{
    position: absolute;
    bottom: 120px;
    background-color:#5ad67b;
    border-radius:30px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:18px;
    padding:15px 27px;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Montserrat-Light';
} 
  
/*slide3*/
  
.slide3{
    position: fixed;
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #262626;
    opacity:0;
    z-index: 2147483644;
    transition: 150ms;
}
.slide3.active{
    position: fixed;
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    font-family: 'Montserrat-Light';
    bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #262626;
    z-index: 2147483644;
    opacity:1;
}
.slide3-btn{
    position: absolute;
    bottom: 120px;
    background-color:#5ad67b;
    border-radius:30px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:18px;
    padding:15px 27px;
    text-decoration:none;
    cursor: pointer;
    font-family: 'Montserrat-Light';
}

/*cookie*/

.flexcookies{
    display: flex;
    align-items:center;
    justify-content: center;
}
.cookie-container{
    position: fixed;
    display: flex;
    z-index:2147483647;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
    font-family: 'Montserrat-Light';
    bottom: -150%;
    width: 80%;
    height: 80%;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    color: black;
    padding: 20px 20px 20px 20px;
    opacity:0;
    transition: 0ms;
}
.cookie-container.active{
    position: fixed;
    display: flex;
    z-index:2147483647;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items:center;
    font-family: 'Montserrat-Light';
    text-align: center;
    bottom: 5%;
    width: 80%;
    height: 80%;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    color: black;
    padding: 20px 20px 20px 20px;
    opacity:1;
}
.cookie-container a{
    color: #2ad37b;
    font-family: 'Montserrat-Medium';
    text-decoration: underline;
    text-decoration-color: #2ad37b;
    font-size: 17px;
}
.cookie-btn{
    border: 0;
    background-color:white;
    color: #2ad37b;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
}

/*font*/

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
 }
 @font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
 }
 