/*generali*/
*{
    font-family: 'Montserrat-Medium';
}
body{
    background-color: #252525;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-scrollbar:none;
    user-select: none;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

/*menu contestuale*/
.menu{
    display: none;
    font-family: 'Montserrat-Medium';
    border: solid 1px #C7C7C7;
    border-radius: 7px;
    position: fixed;
    width: 220px;
    background-color: white;
    z-index: 2147483630;
    box-shadow: 0px 0px 4px 1px rgba(199,199,199,0.5);
}
.listmenu{
    margin: 0;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    cursor: context-menu;
}
.menuoption{
    padding: 5px 0px 5px 25px;
}
.menuoptionfirst{
    padding: 5px 0px 5px 25px;
    margin-top: 5px;
}
.menuoptionlast{
    padding: 5px 0px 5px 25px;
    margin-bottom: 5px;
}
.menuoption:hover{
    background-color: #8dbbff;
}
.menuoptionfirst:hover{
    background-color: #8dbbff;
}
.menuoptionlast:hover{
    background-color: #8dbbff;
}

/*cookie*/
.flexcookies{
    display: flex;
    align-items:center;
    justify-content: center;
}
.cookie-container{
    position: fixed;
    display: flex;
    z-index:2147483647;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
    font-family: 'Montserrat-Light';
    bottom: -150%;
    width: 80%;
    height: 20%;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 40px;
    color: black;
    padding: 20px 20px 20px 20px;
    opacity:0;
    transition: 0ms;
}
.cookie-container.active{
    position: fixed;
    display: flex;
    z-index:2147483647;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items:center;
    font-family: 'Montserrat-Light';
    text-align: center;
    bottom: 5%;
    width: 80%;
    height: 20%;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 40px;
    color: black;
    padding: 20px 20px 20px 20px;
    opacity:1;
}
.cookie-container a{
    color: #2ad37b;
    font-family: 'Montserrat-Medium';
    text-decoration: underline;
    text-decoration-color: #2ad37b;
    font-size: 17px;
}
.cookie-btn{
    cursor: pointer;
    border: 0;
    background-color:rgba(255, 255, 255, 0);
    color: #2ad37b;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
}

/*navnmenu*/
#navmenuopenbtn{
    position:fixed;
    top: 30px;
    left: 40px;
    height: 38px;
    z-index: 10;
}
#navmenuclosebtn{
    height: 38px;
    position: relative;
    left: 8px;
    top:0px;
}
.navmenu{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: none;
    z-index: 10;
    height: 70px;
    width: 100%;
    top: 0;
    left: -120%;
    font-family: 'Montserrat-Light';
    border-bottom-right-radius:50px;
    background:#252525;
    transition: 0.5s;
}
.navmenuoption{
    height:30px;
}
.navmenu a{
    text-decoration: none;
    font-size: 23px;
    color: rgb(255, 255, 255);
}

/*font*/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
 }
 @font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
}


/*ids and classes*/
#logo{
    width: 100%;
    margin-top: 80px;
    animation: animlogo 1s ease-in-out 0s 1 normal forwards;
}
#team{
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin: -20px 0px 30px 0px;
    animation: animlogo 1s ease-in-out 0s 1 normal forwards;
}
@keyframes animlogo {
    0% {
      opacity: 0;
      transform: translateY(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.mainparag{
    text-align: center;
    color: white;
    font-family: 'Montserrat-Light';
    margin: -10px 30px 0px 30px;
}
#segui{
    text-align: center;
    margin-top:40px;
    color: white;
}
#seguire{
    display:flex;
    justify-content: space-around;
}
#instagram{
    height: 50px;
    margin-top: 20px;
    transform: rotate(-20deg);
}
#discord{
    height: 50px;
    margin-top: 20px;
    transform: rotate(20deg);
}
#richieste{
    color:white;
    margin:50px 20px 0px 20px;
    font-family: 'Montserrat-Light';
    text-align: justify;
}
.title{
    color:white;
    text-align:center;
}
iframe{display: block;
    margin-left: auto;
    margin-right: auto;
}